doctype html
html(ng-app='twiddler')
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/reset.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/fonts/stylesheet.css')
    link(rel='stylesheet',href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet',href='/stylesheets/style.css')
    block styles
  body
    block content
    block scripts